// colors
$main : #EAC486;
$black: #000;
$black-2: #33322E;
$black-3: #1D1C1B;
$white: #fff;
$white-2: #f6f6f8;
$purple: #5869C2;
$red: #AC1A1A;
$gray: #777B84;
// fonts
$inter: 'Inter', sans-serif;



